<h1>({{products.length}}) Products</h1>

<app-product-detail
  [product]="selectedProduct"
  (added)="onAdded()"
></app-product-detail>

<ul class="pill-group">
  @for (product of products; track product.id; let i = $index) {
    <li class="pill" (click)="selectedProduct = product">
      @switch (product.title) {
        @case ('Keyboard') { ⌨️ }
        @case ('Microphone') { 🎙️ }
        @default { 🏷️ }
      }
      {{product.title}}
    </li>
  } @empty {
    <p>No products found!</p>
  }
</ul>
