@let product = (product$ | async);

@if (product) {
  <div>
    <p>You selected:
      <strong>{{product.title}}</strong>
    </p>
    <p>{{product.price | currency:'EUR'}}</p>
    <form #priceForm="ngForm" (ngSubmit)="changePrice(product)">
      <mat-form-field>
        <input
          #price
          #priceCtrl="ngModel"
          [(ngModel)]="price"
          appPriceMaximum threshold="500"
          matInput
          min="1"
          name="price"
          placeholder="New price"
          required
          type="number"
        />
        <button
          mat-icon-button
          matSuffix
          [disabled]="!priceCtrl.dirty || priceForm.invalid"
          class="secondary"
          type="submit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        @if (priceCtrl.dirty && (priceCtrl.invalid || priceCtrl.hasError('min'))) {
          <mat-error>Please enter a valid price</mat-error>
        }
        @if (priceCtrl.dirty && priceCtrl.hasError('priceMaximum')) {
          <mat-error>Price must be smaller or equal to 500</mat-error>
        }
      </mat-form-field>
    </form>
    <div class="pill-group">
      <p class="pill">{{ product.category }}</p>
    </div>
    <div class="button-group">
      @if (authService.isLoggedIn()) {
        <button
          mat-raised-button
          (click)="addToCart(product.id)"
        >
          Add to cart
        </button>
      }
      <button
        mat-raised-button
        class="delete"
        (click)="remove(product)"
      >
        Delete
      </button>
    </div>
  </div>
}
